body{
background-color:var(--color-title);
font-family: 'Roboto', 'Lucida Sans Unicode', 'Raleway', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
color: var(--main-text-color);
line-height: 1.14;
}

:root{
--main-text-color:#212121;
--color-title:#fff;
--primary-text-color:#757575;
--color-accent:#2196f3;
--color-background: #2f303a;
--transition-duration: 250ms;
--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
--input-border: rgba(33, 33, 33, 0.2)
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}


.logo{
    color:#000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

}
.logo-accent {
    color: var(--color-accent);
}


.mail-img{
    width: 16px;
    height: 12px;
    background-color: var(--color-title);
    flex-direction: row;
    justify-content: center;
    align-items: center;
     margin-right: 10px;
}

.mail-icon{
    fill: var(--primary-text-color);
}

.info:hover .mail-icon{
        fill: var(--color-accent);
}

.info:focus .mail-icon {
    fill: var(--color-accent);
}

.telephone-img {
    width: 10px;
    height: 16px;
    background-color: var(--color-title);
}

.info-item{
 margin-right: 30px;
margin-left: 30px;   
}


.telephone-icon {
    fill: var(--primary-text-color);
}


.info:hover .telephone-icon {
    fill: var(--color-accent);
}

.info:focus .telephone-icon {
    fill: var(--color-accent);
}

.list,
.info {
    list-style-type: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
    
}

.link,
.info {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.link:hover,
.info:hover {
    color: var(--color-accent);
}

.link:focus,
.info:focus {
    color: var(--color-accent);
}

.info {
    color: var(--primary-text-color);
    transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.contacts{
    list-style-type: none;
}

.info-bottom {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 00.03em;
color: rgba(225, 255, 225, 0.6);
text-decoration: none;
transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}

.info-bottom:hover,
.info-bottom:focus{
    color: var(--color-accent);
}


*, ::before, ::after{
box-sizing: border-box;
}



.header{
    padding: 0 0;
    border-bottom: 1px solid #ececec;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}

.header-menu{
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.nav-item{
    position: relative;
    padding-bottom: 28px;
    padding-top: 32px;
    display: block;
}

.link-current::after{
display: inline-block;
content: '';
width: 100%;
height: 4px;
position: absolute;
left: 0;
bottom: -2px;
background-color: var(--color-accent);
border-radius: 2px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 14px;
}

.contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.section{
    padding: 94px 0;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
}



.main-section{
    background-image:linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-background.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-background);
    padding: 200px 0px;
}


.hero-title{
    letter-spacing: 0.06em;
    color: #ffffff;
    font-size: 44px;
text-transform: uppercase;
font-weight: 900;
line-height: 1.36;
max-width: 696px;
text-align: center;
margin-bottom: 30px;
}

.primary-button {
    background-color:var(--color-accent);
    color: var(--color-title);
    border: 0;
    font-size: 16px;
    line-height: 1.875;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    margin: 0 auto;
    transition: color var(--transition-duration) var(--transition-timing-function), 
    background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}


.primary-button:hover,
.primary-button:focus {
    background-color: #188ce8;
    color: var(--color-title);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.title-second{
    visibility: hidden;
}

.advantages-list{
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
}

.advantages-items{
    flex-basis: calc((100% - 90px)/4);
}

.other-sections {
list-style-type: none;
display: flex;
justify-content: center;
gap: 8px;
}


.antenna-img,
.clock-img ,
.diagram-img,
.astronaut-img {
display: flex;
width: 270px;
height: 120px;
background-color:#f5f4fa;
margin-bottom: 30px;
justify-content: center;
align-items: center;
border-radius: 4px;
}

.our-activities {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
}

.bord{
    position: relative;
    display: flex;
        align-items: center;
        justify-content: center;

}

.bord::before{
    display: flex;
    bottom: 0;
    right: 0;
    position: absolute;
    content: '';
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.text-bord{
    position: absolute;
    content: '';
   
}

.we-do-text{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 27px 0;
    font-style: 400;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    color: var(--color-title);
}
.advantages {
text-transform: uppercase;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
}

.description {
    color: var(--primary-text-color);
    line-height: 1.71;
    font-weight: 400;
    margin-top: 10px;
}


.third-section{
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.activity{
    padding-top: 0;
}

.fourth-section {
background-color: #f5f4fa;
font-size: 36px;
text-align: center;
margin-bottom: 50px;
}

.section-for-members{
    background-color:#f5f4fa;
}

.our-team{
    max-width: 1170px;
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
   
}
.members {
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.1875;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.team{
    padding-bottom: 30px;
    padding-top: 30px;
}

.representatives{
    box-sizing: border-box;
    background-color: var(--color-title);
    display: block;
    border-radius: 0px 0px 4px 4px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.members-social-links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1ba;
    margin-top: 16px;
    gap: 10px;
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
    fill: #afb1b8;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.icons{
display: flex;
width: 44px;
height: 44px;
background-color: #fff;
border-radius: 50%;
align-items: center;
justify-content: center;
transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.icons:hover{
background-color: var(--color-accent);
}

.icons:focus {
    background-color: var(--color-accent);
}

.icons:hover .icon-instagram {
    fill: var(--color-title);
}

.icons:focus .icon-instagram{
    fill: var(--color-title);
}

.icons:hover .icon-twitter {
    fill: var(--color-title);
}

.icons:focus .icon-twitter {
    fill: var(--color-title);
}

.icons:hover .icon-facebook {
    fill: var(--color-title);
}

.icons:focus .icon-facebook {
    fill: var(--color-title);
}

.icons:hover .icon-linkedin {
    fill: var(--color-title);
}

.icons:focus .icon-linkedin {
    fill: var(--color-title);
}


.position{
    color: var(--primary-text-color);
    letter-spacing: 00.03em;
    font-weight: 400;
    margin: auto 30px;
    text-align: center;
}

.container-clients{
    width: 1200px;
}


.tail{
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--color-background);
}

.footer-container{
    display: block;
    flex-direction: column;
    
}

.adress-bottom{
    display: block;
    margin-top: 20px;
}

.location {
color: var(--color-title);
text-decoration: none;
}

.location-tail{
    margin-top: 20px;
    margin-bottom: 9px;
}

.mail-tail,
.telephone-tail{
    margin-top: 9px;
    margin-bottom: 9px;
}


.logo-tag {
    color: var(--color-title);
}


.icons-bottom{
    fill: var(--color-title);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

}

.icon-instagram-footer,
.icon-twitter-footer,
.icon-facebook-footer,
.icon-linkedin-footer {
    fill: var(--color-title);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}



.social-links-bottom{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.join{
   
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-us{
    display: block;
    font-weight: 700;
    margin-top: 0;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--color-title);
}

.form-for-footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--color-title);
    outline: none;
    letter-spacing: 0.03em;
}

.form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-input {
    margin-left: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--color-background);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-duration) var(--transition-timing-function)
    color var(--transition-duration) var(--transition-timing-function);
}

.footer-input:hover {
    border-color: var(--color-accent);
    color: var(--main-text-color);
}

.footer-input:focus {
    border-color: var(--color-accent);
    color: var(--main-text-color);
} 


.footer-btn-form{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--color-accent);
        color: var(--color-title);
        border: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.625;
        letter-spacing: 0.06em;
        cursor: pointer;
        padding: 10px 28px;
        margin-left: 12px;
        border-radius: 4px;
        transition: background-color var(--transition-duration) var(--transition-timing-function),
            color var(--transition-duration) var(--transition-timing-function),
            box-shadow var(--transition-duration) var(--transition-timing-function);
}

.icon-send{
    fill: var(--color-title);
    margin-left: 10px;
}






.container-tail{
    display: flex;
    gap: 70px;
}


.main-button {
    background-color: var(--color-accent);
    color: var(--color-title);
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    transition: background-color var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);

}

.main-button:hover,
.main-button:focus {
background-color: #188ce8;
    color: var(--color-title);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.buttons {
    background-color: #f5f4fa;
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 0;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 22px;
    gap: 8px;
    border-radius: 4px;
    transition: background-color var(--transition-duration) var(--transition-timing-function),
            color var(--transition-duration) var(--transition-timing-function),
            box-shadow var(--transition-duration) var(--transition-timing-function);
}

.buttons:hover,
.buttons:focus {
background-color: #188ce8;
color: var(--color-title);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.projects {
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-color);
    letter-spacing: 0.06em;
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.cards-names {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.sub-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

.flex-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.cards-container{
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 30px)/3);
    flex-shrink: 0;
    
}

.cards{
    flex-basis: calc((100% - 60px)/3);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    
}

.cards:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.cards-menu{
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    list-style-type: none;
     display: flex;   
}

.cards-images{
    display: block;
}

.general{
    border: 1px solid #eeeeee ;
    padding: 20px 24px;
    margin-top: 0;
}

.pages-item{
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
    border: 1px solid #eeeeee;
}


.card-overlay-text{
    position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-title);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    margin: 0;
    letter-spacing: inherit;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        pointer-events: none;
}

.projects:hover .card-overlay-text {
    transform: translateY(0);
    overflow: hidden;
    opacity: 1;
}

.cards-images{
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
}

.clients{
    font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.16;
}


.clients-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.icons-for-clients{
    display: flex;
    flex-direction: row;
        width: 170px;
        height: 92px;
        margin-right: 30px;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px solid #afb1b8;
        transition: border var(--transition-duration) var(--transition-timing-function);
        
}

.icon-client{
    fill: #afb1b8;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.client-item{
    gap: 30px;
}

.icons-for-clients:hover{
    border: 1px solid var(--color-accent);
}


.icons-for-clients:hover .icon-client{
        fill: var(--color-accent);
}


.icons-for-clients:focus {
    border: 1px solid var(--color-accent);
}


.icons-for-clients:focus .icon-client {
    fill: var(--color-accent);
}


/*Modal*/
.backdrop.is-hidden{
visibility: hidden;
opacity: 0;
pointer-events: none;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    min-width: 528px;
    min-height: 581px;
    background-color:var(--color-title) ;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close-button{
    position: absolute;
    top: 8px;
    right: 8px;
        display: flex;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: center;
        cursor: pointer;
}

.close-button:focus .icon-close-button{
    fill: var(--color-accent);

}

/*Form*/
.form-container{
    padding: 40px 39px 40px 41px;
}

.form-name{
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    line-height: 1.15;
}
.form-label{
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        margin-bottom: 4px;
        color: var(--primary-text-color);
        margin-top: 10px;
        
}

.form-control{
    position: relative;
}



.form-input {
    width: 100%;
    padding: 11px 12px 11px 32px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: border var(--transition-duration) var(--transition-timing-function);

}

.form-input:focus {
 border: 1px solid var(--color-accent);
}


.form-icon {
position: absolute;
left: 12px;
top: 50%;
transform: translateY(-50%);
fill: currentColor;
color: var(--main-text-color);
transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form-control:focus-within .form-icon {
    fill: var(--color-accent);
    
}

.form-textarea{
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    outline: none;
    margin-bottom: 20px;
    resize: none;
}

.form-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 52px;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    background-color: var(--color-accent);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-title);
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}


/*Checkbox*/

.checkbox-control{
   display: flex; 
   position: relative;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
}

.checkbox-input{
    display: flex;
    
    width: 16px;
    height: 15px;
    align-items: center;
    justify-content: center;
}

.checkbox-border{
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color-title);
    z-index: -1;
    transition: background-color var(--transition-duration) var(--transition-timing-function),
    fill-opacity var(--transition-duration) var(--transition-timing-function);
}

.checkbox-label{
    display: block;
    font-size: 14px;
    padding-left: 8px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 400;
    margin-left: 8.38px;
}

.icon-check{
    opacity: 0;
    fill: var(--color-title);
}


.checkbox-input:checked + .checkbox-border{
 border: none;
 background-color: var(--color-accent);
}

.checkbox-input:checked + .icon-check {
    opacity: 1;
    fill: var(--color-title);
    z-index: 1;
    
}