:root {
    --main-text-color: #212121;
    --color-title: #fff;
    --primary-text-color: #757575;
    --color-accent: #2196f3;
    --color-background: #2f303a;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --input-border: rgba(33, 33, 33, 0.2)
}

$text-font-stack: “Roboto”, sans-serif;
$logo-font-stack: ‘Raleway’, sans-serif;