
.cards-container {
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 30px)/3);
    flex-shrink: 0;

}

.cards {
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    list-style-type: none;
    display: flex;

&__images {
    display: block;
    position: relative;
        overflow: hidden;
        width: 370px;
        height: 294px;
}

&__descr {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
    margin-top: 0;
}

&__thumb {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
    border: 1px solid #eeeeee;
}

&__names {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

&__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}

&__items {
    flex-basis: calc((100% - 60px)/3);
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);


   &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} 
}

&__link {
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-color);
    letter-spacing: 0.06em;
    transition: transform var(--transition-duration) var(--transition-timing-function);


 &:hover .cards__overlay {
    transform: translateY(0);
    overflow: hidden;
    opacity: 1;
}

}

}











.cards__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-title);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    margin: 0;
    letter-spacing: inherit;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}





