.clients {
    width: 1200px;

&__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.16;
}

&__item {
    gap: 30px;
}

&__list {
    list-style-type: none;
    display: flex;
    justify-content: center;

}

&__icons {
    display: flex;
    flex-direction: row;
    width: 170px;
    height: 92px;
    margin-right: 30px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition: border var(--transition-duration) var(--transition-timing-function);


        &:hover {
            border: 1px solid var(--color-accent);

            & .icon-client{
        fill: var(--color-accent);
                }
        }
        &:focus {
        border: 1px solid var(--color-accent);
            & .icon-client{
               fill: var(--color-accent); 
            }

        }

}

}

.icon-client {
    fill: #afb1b8;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}




