.menu {
    list-style-type: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
    display: flex;
    gap: 50px;
    margin-left: 93px;

&__item {
    position: relative;
    padding-bottom: 28px;
    padding-top: 32px;
    display: block;
}


&__link {
    text-decoration: none;
    color: inherit;
    transition: color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);

&:hover {
    color: var(--color-accent);
}

&:focus {
    color: var(--color-accent);
}

&--current::after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: var(--color-accent);
    border-radius: 2px;
}

}

}




