.portfolio {
    padding: 94px 0;

&__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 14px;
}

&__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

}



